Gerador_de_Videos_Seedance.json
{
  "name": "Gerador de Videos Seedance",
  "nodes": [
    {
      "parameters": {
        "content": "# 1. Gerar Roteiro",
        "height": 340,
        "width": 1340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -1160
      ],
      "id": "e3cd9129-2f27-481a-9029-289507076264",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 2. Gerar Vﾃｭdeos\n\n",
        "height": 400,
        "width": 1860,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -800
      ],
      "id": "9dc844f0-1e73-492d-8a7a-193a0143bd5c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 3. Gerar Efeitos Sonoros",
        "height": 380,
        "width": 1540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -380
      ],
      "id": "c672d271-7503-4ca2-a83d-6849e56b0c1b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 4. Juntar os Clipes no Vﾃｭdeo Final",
        "height": 380,
        "width": 1740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        20
      ],
      "id": "cdfa18af-3e7b-4fd4-96e3-27e7754bac49",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -860,
        -660
      ],
      "id": "c59dc022-64f8-416e-ba4e-d2f0d79f21e3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1220,
        -260
      ],
      "id": "0326d21f-00ff-45dc-b157-90fe6d20aca0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instructions>\n\nCreate an engaging, very detailed story for a short video, based on the idea/story below.\nMake sure to provide detailed description for the characters and the surroundings.\n\n</Instructions>\n\n<Idea>\n{{ $('Formulﾃ｡rio').item.json['Histﾃｳria'] }}\n</Idea>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1480,
        -1060
      ],
      "id": "cd82dddc-2a5b-4748-a1fb-d4add4ba6101",
      "name": "Criar Roteiro"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instructions>\n\nBreak down the following story into a script (for short video) with exacly {{ $('Edit Fields').item.json.number_of_scenes }} scenes.\n\n</Instructions>\n\n<Story>\n{{ $json.output.story }}\n</Story>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1060,
        -1060
      ],
      "id": "f67f1161-3b68-45b6-8cb9-0f75f51b1fd1",
      "name": "Gerar Cenas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instructions>\n\n# Create a detailed scene for the scene below, that consists of\n- A list of characters in the scene, with their detailed description\n- A detailed description of the scene: what's behind the characters\n- Camera movement (if any) in the scene\n- The movement of the objects on the screen in this 5s long clip\n- The description of the sound effects on the screen\n\nUse the full story for reference.\n\n</Instructions>\n\n<Scene>\n{{ $json['output.scenes'] }}\n</Scene>\n\n<FullStory>\n{{ $('Criar Roteiro').item.json.output.story }}\n</FullStory>\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1460,
        -660
      ],
      "id": "92b55efe-fe8c-4c93-8f52-7cc4ced9e9d9",
      "name": "Criar Cena"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "999a81ed-d897-43cf-babe-c05c0d9f2314",
              "leftValue": "={{ $json.output.scenes }}",
              "rightValue": "={{ $('Edit Fields').item.json.number_of_scenes }}",
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        -1060
      ],
      "id": "63604c45-463a-4cde-a655-3baaf494905a",
      "name": "Tamanho Correto?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -420,
        -1020
      ],
      "id": "102f315a-dae8-4640-9e72-b7be4a21af30",
      "name": "Dividir as Cenas"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1460,
        160
      ],
      "id": "b1609945-faea-4284-a364-65e5e2b34c5f",
      "name": "Juntar ﾃ「dio e Vﾃｭdeo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -940,
        -260
      ],
      "id": "3711e0e6-f973-426c-854b-78b6c334f32d",
      "name": "Esperar Para Adicionar ﾃ「dio",
      "webhookId": "e8d6e2f8-2c00-4b80-a18c-3693765b6976"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": {{ JSON.stringify($json.data.map((item, index) => ({ url: item.video.url, timestamp: index * 6000, duration: 6000 }))) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1220,
        160
      ],
      "id": "cd69b00a-22f2-481f-8c6e-05ffc62cee5c",
      "name": "Compilar Clipes",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1000,
        160
      ],
      "id": "9109b151-5291-42ca-b042-09fef3a526e1",
      "name": "Esperar Para Compilar os Clipes",
      "webhookId": "b3517d71-5858-45bf-8fc6-7b7a1b7107a6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -580,
        -680
      ],
      "id": "80c2bdcc-7b1f-4a07-871f-51ddb389d203",
      "name": "Esperar o Vﾃｭdeo",
      "webhookId": "e8d6e2f8-2c00-4b80-a18c-3693765b6976"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6fc5bea4-1567-474b-bfca-5394eb303217"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRONTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0882f634-2472-4d24-a1c3-a39f0cd94855",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROCESSANDO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6c8b207-13ac-4537-8c5c-677039bc2fef",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA FILA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        -680
      ],
      "id": "b3b2a355-4910-43f6-b765-36e00b2a8ead",
      "name": "Status do Vﾃｭdeo"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -600
      ],
      "id": "a1ee0524-12cd-4c3f-8f51-79aa147d5136",
      "name": "Pegar Vﾃｭdeo",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -680
      ],
      "id": "dff36c8a-cc5f-4098-ba9c-ea339c68cd61",
      "name": "Ver Status da Criaﾃｧﾃ｣o",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Comeﾃｧando a Gerar o ﾃ「dio').item.json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -260
      ],
      "id": "54d238df-7c59-4463-8247-65348361029e",
      "name": "Ver Status do ﾃ「dio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6fc5bea4-1567-474b-bfca-5394eb303217"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRONTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0882f634-2472-4d24-a1c3-a39f0cd94855",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROCESSANDO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6c8b207-13ac-4537-8c5c-677039bc2fef",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA FILA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -500,
        -260
      ],
      "id": "d65936e0-6375-48d2-bcc3-ce7f868bedae",
      "name": "Status do ﾃ「dio"
    },
    {
      "parameters": {
        "url": "={{ $('Comeﾃｧando a Gerar o ﾃ「dio').item.json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -200
      ],
      "id": "037be5b7-ad25-406e-9700-cafba2beebfb",
      "name": "Pegar ﾃ「dio",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/mmaudio-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.video.url }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Criar Cena').item.json.output.sound_effects }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        -260
      ],
      "id": "e11b71fb-0617-4478-9a3c-e8632adbf8bf",
      "name": "Comeﾃｧando a Gerar o ﾃ「dio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/bytedance/seedance/v1/pro/text-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=<Characters>\n{{ $json.output.characters.map(character => `<Character>\n  <Name>${character.name}</Name>\n  <Description>${character.description}</Description>\n</Character>`).join('\\n') }}\n</Characters>\n\n<SceneDescription>\n{{ $json.output.scene_description }}\n</SceneDescription>\n\n<CameraMovements>\n{{ $json.output.camera_movement }}\n</CameraMovements>\n\n<ObjectMovements>\n{{ $json.output.object_movements }}\n</ObjectMovements>"
            },
            {
              "name": "aspect_ratio",
              "value": "={{ $('Formulﾃ｡rio').item.json['Proporﾃｧﾃ｣o'] }}"
            },
            {
              "name": "resolution",
              "value": "={{ $('Formulﾃ｡rio').item.json['Resoluﾃｧﾃ｣o'] }}"
            },
            {
              "name": "duration",
              "value": "={{ $('Formulﾃ｡rio').item.json['Duraﾃｧﾃ｣o das Cenas'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        -660
      ],
      "id": "b4cd2520-1a59-4086-9d83-6308f5cbea5d",
      "name": "Comeﾃｧando a Gerar o Vﾃｭdeo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Compilar Clipes').item.json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        160
      ],
      "id": "909ab143-495a-467c-8287-ee76e142ab8d",
      "name": "Pegar Vﾃｭdeo Pronto",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        160
      ],
      "id": "2956d6dc-118a-4f90-9d2a-05eb2c22385b",
      "name": "Baixar Vﾃｭdeo Pronto"
    },
    {
      "parameters": {
        "url": "={{ $('Compilar Clipes').item.json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        160
      ],
      "id": "6f7371f8-77a2-4084-83f6-71d2a3bc655f",
      "name": "Ver Status da Compilaﾃｧﾃ｣o",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tda5pCP042ZTnB4t",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6fc5bea4-1567-474b-bfca-5394eb303217"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRONTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0882f634-2472-4d24-a1c3-a39f0cd94855",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROCESSANDO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6c8b207-13ac-4537-8c5c-677039bc2fef",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA FILA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        160
      ],
      "id": "402b8b45-9dd4-4a8a-9110-7c770ae2edb6",
      "name": "Status da Compilaﾃｧﾃ｣o"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f1922e-9c90-4d5f-a501-2cd0fdb2ff54",
              "name": "number_of_scenes",
              "value": "={{ $json['Number of scenes'] || 5 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        -1060
      ],
      "id": "7f5dd579-60ba-425c-9459-97674f4d2648",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "Crie um Vﾃｭdeo de IA com Seedance",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Histﾃｳria",
              "fieldType": "textarea",
              "placeholder": "A Histﾃｳria do Vﾃｭdeo",
              "requiredField": true
            },
            {
              "fieldLabel": "Nﾃｺmero de Cenas",
              "fieldType": "number",
              "placeholder": "default: 5"
            },
            {
              "fieldLabel": "Proporﾃｧﾃ｣o",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "16:9"
                  },
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "1:1"
                  },
                  {
                    "option": "4:3"
                  },
                  {
                    "option": "3:4"
                  },
                  {
                    "option": "21:9"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Resoluﾃｧﾃ｣o",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "480p"
                  },
                  {
                    "option": "1080p"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Duraﾃｧﾃ｣o das Cenas",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "5"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1980,
        -1060
      ],
      "id": "4b878c14-0042-4d23-8cd7-a844393d0432",
      "name": "Formulﾃ｡rio",
      "webhookId": "1b24d810-a844-4c10-81f9-edcee9a4d0ec"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1740,
        -340
      ],
      "id": "620969b8-432b-4a5d-9181-4ec787476345",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ubNoTieQl43sV8YE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Inﾃｭcio",
        "height": 340,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2060,
        -1160
      ],
      "id": "9592036d-5ed8-4287-9ff4-460af24eaeae",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Structured Output Parsers",
        "height": 300,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2220,
        -800
      ],
      "id": "5b4be50d-f94a-48c1-94d3-b4a1e318bd69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"characters\": {\n            \"type\": \"array\",\n            \"description\": \"the list of characters in the scene\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"name\": {\n                        \"type\": \"string\",\n                        \"description\": \"the name of the character\"\n                    },\n                    \"description\": {\n                        \"type\": \"string\",\n                        \"description\": \"the detailed description of the character (visual outlook)\"\n                    }\n                },\n                \"required\": [\n                    \"name\",\n                    \"description\"\n                ]\n            }\n        },\n        \"scene_description\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed description of the scene\"\n        },\n        \"camera_movement\": {\n            \"type\": \"string\",\n            \"description\": \"the description of the camera movement (if any)\"\n        },\n        \"object_movements\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed description of the movement of the objects on the screen\"\n        },\n        \"sound_effects\": {\n            \"type\": \"string\",\n            \"description\": \"the sound effects the viewer can hear during the scene\"\n        }\n    },\n    \"required\": [\n        \"characters\",\n        \"scene_description\",\n        \"camera_movement\",\n        \"object_movements\",\n        \"sound_effects\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1940,
        -680
      ],
      "id": "e7c632eb-eb86-42b4-8809-6de58f34e8e5",
      "name": "Create scene output parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"story\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed story\"\n        }\n    },\n    \"required\": [\n        \"story\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2140,
        -680
      ],
      "id": "9470ce33-eedd-475b-a4cf-4c48ffd8336d",
      "name": "Create story output parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"scenes\": {\n            \"type\": \"array\",\n            \"description\": \"the scenes\",\n            \"items\": {\n                \"type\": \"string\"\n            }\n        }\n    },\n    \"required\": [\n        \"scenes\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -680
      ],
      "id": "97fc3250-0989-4897-8837-4438b2682359",
      "name": "Generate scenes output parser"
    },
    {
      "parameters": {
        "content": "# Escolha um Modelo de IA\n**Selecione UM e desative o resto**",
        "height": 320,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2220,
        -480
      ],
      "id": "7d304d97-dc4e-48dd-9e30-23d3bb42ea29",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2140,
        -340
      ],
      "id": "8ebafe3b-68ac-4b8f-b8d3-5aac90e5b672",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C2PQstZRmbvcKtnk",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1940,
        -340
      ],
      "id": "4105c0c2-d96d-4d7c-b142-dc6ac7dd726c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LsrHEQVQNtCGB2zW",
          "name": "OpenRouter account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 沒 [Entre para o Automators Club, e domine o n8n do bﾃ｡sico ao avanﾃｧado](https://automatorsclub.com.br/)",
        "height": 180,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -1000
      ],
      "id": "830451bd-3bdc-49b4-bd5a-07b068e63f6e",
      "name": "Sticky Note16"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Comeﾃｧando a Gerar o ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar o Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Juntar ﾃ「dio e Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar Para Adicionar ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Roteiro": {
      "main": [
        [
          {
            "node": "Gerar Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Cenas": {
      "main": [
        [
          {
            "node": "Tamanho Correto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cena": {
      "main": [
        [
          {
            "node": "Comeﾃｧando a Gerar o Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tamanho Correto?": {
      "main": [
        [
          {
            "node": "Dividir as Cenas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Cenas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir as Cenas": {
      "main": [
        [
          {
            "node": "Criar Cena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar ﾃ「dio e Vﾃｭdeo": {
      "main": [
        [
          {
            "node": "Compilar Clipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Para Adicionar ﾃ「dio": {
      "main": [
        [
          {
            "node": "Ver Status do ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilar Clipes": {
      "main": [
        [
          {
            "node": "Esperar Para Compilar os Clipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Para Compilar os Clipes": {
      "main": [
        [
          {
            "node": "Ver Status da Compilaﾃｧﾃ｣o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar o Vﾃｭdeo": {
      "main": [
        [
          {
            "node": "Ver Status da Criaﾃｧﾃ｣o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status do Vﾃｭdeo": {
      "main": [
        [
          {
            "node": "Pegar Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar o Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar o Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Vﾃｭdeo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver Status da Criaﾃｧﾃ｣o": {
      "main": [
        [
          {
            "node": "Status do Vﾃｭdeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver Status do ﾃ「dio": {
      "main": [
        [
          {
            "node": "Status do ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status do ﾃ「dio": {
      "main": [
        [
          {
            "node": "Pegar ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar Para Adicionar ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar Para Adicionar ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar ﾃ「dio": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comeﾃｧando a Gerar o ﾃ「dio": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comeﾃｧando a Gerar o Vﾃｭdeo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Vﾃｭdeo Pronto": {
      "main": [
        [
          {
            "node": "Baixar Vﾃｭdeo Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver Status da Compilaﾃｧﾃ｣o": {
      "main": [
        [
          {
            "node": "Status da Compilaﾃｧﾃ｣o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status da Compilaﾃｧﾃ｣o": {
      "main": [
        [
          {
            "node": "Pegar Vﾃｭdeo Pronto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar Para Compilar os Clipes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar Para Compilar os Clipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Criar Roteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulﾃ｡rio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Criar Cena",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Criar Roteiro",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gerar Cenas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create scene output parser": {
      "ai_outputParser": [
        [
          {
            "node": "Criar Cena",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create story output parser": {
      "ai_outputParser": [
        [
          {
            "node": "Criar Roteiro",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate scenes output parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gerar Cenas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56c4d46d-15a1-49f8-974c-3cbdd4437eea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54fab7bc8e427f2903613bace7d50c5a9b2fd53e937af0fd5758eda56f74049e"
  },
  "id": "sI4vAc0xj0u4TN5L",
  "tags": []
}